{% extends "conteneur.html" %}

{% block titre %}
    {%if lieu %}| Lieu : {{lieu.nom}} {% endif %}
{% endblock %}

{% block corps %}
    {% if lieu %}
        <h1>{{lieu.nom}}</h1>
        <h2>{{lieu.moderne}}</h2>
        <dl>
            <dt>Longitude</dt><dd>{{lieu.latlong[1]}}</dd>
            <dt>Latitude</dt><dd>{{lieu.latlong[0]}}</dd>
            <dt>Description</dt><dd>{{lieu.description}}</dd>
            <dt>Type</dt><dd>{{lieu.type}}</dd>
        </dl>
    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}